<style>
    .card-header {
        background-color: #2E3691;
        color: white;
        font-size: 30px;
        font-weight: 700;
    }

    .key {
        font-size: 20px;
    }

    span {
        font-weight: 600;
    }

    .card {
        border-radius: 20px !important;
    }

    .card-header {
        border-top-right-radius: 20px !important;
        border-top-left-radius: 20px !important;
    }

    .card-footer {
        border-bottom-right-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        background-color: #2E3691;
    }

    .btn {
        border-radius: 10px;
    }

    .prof-cont {
        margin-top: 80px !important;
    }

    .alert {
        margin-bottom: -30px;
    }
</style>
<body>
    <div class="container w-50 text-center">
        <% if (message.length > 0) { %>
            <p class="alert alert-success mt-5" style="color: green;"><%= message %></p>
        <% } %>
    </div>

    <div class="container w-50 prof-cont">
        <div class="card">
            <div class="card-header text-center">
                Profil Anda
            </div>
            <div class="card-body">
                <p class="key"><span>Username:</span> <%= data.username %></p>
                <p class="key"><span>Nama Lengkap:</span> <%= data.nama %></p>
                <p class="key"><span>Nomor Telepon:</span> <%= 0+data.no_telp %></p>
                <p class="key"><span>Alamat:</span> <%= data.alamat %></p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a class="btn btn-danger" style="width: 19%;" href="/admin"><i class="fa-solid fa-right-from-bracket"></i></a>
                <a class="btn btn-success" style="width: 39%;" href="profil/edit"><i class="fa-solid fa-pen-to-square"></i> Edit Profil</a>
                <a class="btn btn-primary" style="width: 39%;" href="profil/password"><i class="fa-solid fa-lock"></i> Ubah Password</a>
            </div>
        </div>
    </div>
<!-- 
    <h2>username : <%= data.username %></h2>
    <h2>nama : <%= data.nama %></h2>
    <h2>no. telp : <%= 0+data.no_telp %></h2>
    <h2>alamat : <%= data.alamat %></h2>

    <a href="/admin">kembali</a>
    <a href="/admin/profil/edit">edit profil</a>
    <a href="/admin/profil/password">ubah password</a> -->
</body>